<div class="user_container">
    <br>
    <form action="/user/login" class="user_form" method="POST">
    <h2>Login</h2>
        <div class="user_fields">
            <label for="email">Email *</label>
            <div class="error email"></div>
            <input class="user_input" type="text" name="email" placeholder="Email"><br>
            <label for="password">Password *</label>
            <div class="error password"></div>
            <input class="user_input" type="password" name="password" placeholder="Password">
        </div>
        <div class="user_submit">
            <button>Submit</button>
        </div>
        <div class="links">
            <a href="/user/register">Register</a> 
            <a href="/user/logout">Logout</a>
        </div>
    </form>
</div>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.error.email');
    const passwordError = document.querySelector('.error.password');

    form.addEventListener('submit' , async(e) => {
        e.preventDefault();

        emailError.textContent = '';
        passwordError.textContent = '';

        const email = form.email.value;
        const password = form.password.value;

        try{
            const res = await fetch('/user/login' , {
                method: 'POST' , 
                body: JSON.stringify({ email: email , password: password }),
                headers: { 'Content-Type': 'application/json' }
                }
            );
            const data = await res.json();
            console.log(data);
            if(data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }

            if(data.user){
                window.location.href = '/';
            }
        }catch(err){
            console.log(err)
        }
        
    })
</script>